body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2vh; /* Espaçamento relativo à altura da tela */
}

.container {
    max-width: 40vw; /* Tamanho máximo do formulário baseado na largura da tela */
    margin: auto;
    background-color: #ffffff;
    padding: 4vh 3vw; /* Padding usando VH e VW */
    border-radius: 8px;
    box-shadow: 0 2vh 5vw rgba(0, 0, 0, 0.1); /* Sombra com VH e VW */
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 2.5vw; /* Tamanho da fonte baseado na largura da viewport */
}

.form-group {
    margin-bottom: 3vh; /* Margem inferior relativa à altura da viewport */
}

label {
    display: block;
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 1.2vw;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 1.5vh 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2vw;
}

input[type="checkbox"] {
    margin-right: 1vw;
}

.btn-primary {
    padding: 2vh 0;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    width: 100%;
    margin-top: 3vh;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    transform: translateY(1vh);
}